html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*HERLEDY LOPEZ*/

   .navegacion {
            font-weight: lighter; 
            font-size:medium;     /* inherit;*/
        }

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* transform: scale(1.15); */
}
.cardEstilo1 {
    max-width: 270px;
    
}

.cardEstilo2 {
    max-width: 350px;
    font-size:inherit;
}
.cardEstilo2Letra1 {
        font-size:medium;
}
.cardEstilo2Letra2 {
    font-size: small;
}
/*tamano de los labels en los group-control*/
.labelstitle {
   
    font-size: .813rem;
    font-weight: 400;
}
/*central en link en la cards*/
.centrarlink {
    text-align: center;
    display: inline-block;
    width: 100%;
}
.cardEstilo3 {
    max-width: 200px;
    font-size: inherit;
}
.letraminima
{
    font-size:x-small;
}

.styled-select option.service-small {
    font-size: 14px;
    padding: 5px;
    background: #5c5c5c;
}