@model WELLTRACKSOFT.Models.TabBillingCodeType

@{
    ViewData["Title"] = "Details";
}
<div class="row  justify-content-between">
    <div class="col-md-8">
        <h4 class="text-decoration-none navegacion ms-4 mt-4">
            <a class="text-decoration-none" href="/Home/Index">Home ></a><a class="text-decoration-none" href="/Home/DashBoard">DashBoard></a><a class="text-decoration-none" href="/Home/Configuration">Configuration></a><a class="text-decoration-none" href="/Home/MasterConfiguration">Master Configuration></a><span class="text-warning">New Billing Code Type</span>
        </h4>
    </div>
    <div class="col-md-2 mt-4 align-content-end">
        <a asp-action="Create" style="font-size:x-small" class="btn btn-info">+ New Type Code</a>
    </div>
    <div class=" col-md-2 align-content-end">
        <a href="#" onclick="openhelp()"><i id="showhelpbutton" class="fas fa-question-circle"></i></a>
        <span class="idImagen2 text-warning" style="font-size:x-small">Read this for help</span>
        <a href="#" onclick="closehelp()"><i id="hidehelpbutton" class="fas fa-window-close" style="display:none"></i></a>
    </div>

</div>
<div class="row  mt-4 ml-4 shadow-sm p-3 mb-5 bg-white rounded">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BctypeCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BctypeCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BctypeDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BctypeDesc)
        </dd>
    </dl>

    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
