@{
    ViewData["Title"] = "DashBoard";
}


<h4 class="text-decoration-none navegacion ms-4 mt-4"><a class="text-decoration-none" href="/Home/Index">Home ></a><span class="text-warning">DashBoard</span></h4>

<div class="row mt-4 ms-4">

    <div class="card mb-3 mx-2 cardEstilo1">
        <a asp-controller="Home" asp-action="Configuration" class="text-decoration-none">
            <div class="row g-0">
                <div class="col-md-3 hover-zoom">
                    <img src="https://s3.amazonaws.com/cdn.officepuzzle.com/icons/204-settings.svg" width="50" height="50" class="img-fluid rounded-start ms-2 mt-2 w-100" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <span class="text-dark"><strong>Configuration</strong></span>

                    </div>
                </div>
            </div>
        </a>
    </div>


    <div class="card mb-3 mx-2 cardEstilo1 ">
        <a asp-controller="Home" asp-action="Configuration" class="text-decoration-none">
            <div class="row g-0">
                <div class="col-md-3 hover-zoom">
                    <img src="https://s3.amazonaws.com/cdn.officepuzzle.com/icons/359-users.svg" width="50" height="50" class="img-fluid rounded-start ms-2 mt-2 w-100" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <span class="text-dark"><strong>Administrators</strong></span>

                    </div>
                </div>
            </div>
        </a>
    </div>


    <div class="card mb-3 mx-2 cardEstilo1">
        <a asp-controller="Home" asp-action="Configuration" class="text-decoration-none">
            <div class="row g-0">
                <div class="col-md-3 hover-zoom">
                    <img src="https://s3.amazonaws.com/cdn.officepuzzle.com/icons/367-user.svg" width="50" height="50" class="img-fluid rounded-start ms-2 mt-2 w-100" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <span class="text-dark"><strong>Users</strong></span>

                    </div>
                </div>
            </div>
        </a>
    </div>


    <div class="card mb-3 mx-2 cardEstilo1">
        <a asp-controller="Home" asp-action="Configuration" class="text-decoration-none">
            <div class="row g-0">
                <div class="col-md-3 hover-zoom">
                    <img src="https://s3.amazonaws.com/cdn.officepuzzle.com/icons/360-users.svg" width="50" height="50" class="img-fluid rounded-start ms-2 mt-2 w-100" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <span class="text-dark"><strong>Clients</strong></span>

                    </div>
                </div>
            </div>
        </a>
    </div>



    <div class="card mb-3 mx-2 cardEstilo1">
        <a asp-controller="Home" asp-action="Configuration" class="text-decoration-none">
            <div class="row g-0">
                <div class="col-md-3 hover-zoom">
                    <img src="https://s3.amazonaws.com/cdn.officepuzzle.com/icons/268-calendar.svg" width="50" height="50" class="img-fluid rounded-start ms-2 mt-2 w-100" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <span class="text-dark"><strong>Calendar</strong></span>

                    </div>
                </div>
            </div>
        </a>
    </div>


    <div class="card mb-3 mx-2 cardEstilo1">
        <a asp-controller="Home" asp-action="Configuration" class="text-decoration-none">
            <div class="row g-0">
                <div class="col-md-3 hover-zoom">
                    <img src="https://s3.amazonaws.com/cdn.officepuzzle.com/icons/242-folder.svg" width="50" height="50" class="img-fluid rounded-start ms-2 mt-2 w-100" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <span class="text-dark"><strong>Files</strong></span>

                    </div>
                </div>
            </div>
        </a>
    </div>




</div>

